<launch>
    <!-- clears_params将参数清除 -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">

        <rosparam file="$(find usv_nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find usv_nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find usv_nav)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find usv_nav)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find usv_nav)/param/base_local_planner_params.yaml" command="load" />
        <remap to="/cora/robot_localization/odometry/filtered" from="/odom" />
    </node>
</launch>
